extends ../layouts/dashboard.pug

mixin col(sizeMd, sizeSm)
  div(class="col-md-" + sizeMd + " col-sm-" + sizeSm)
    .panel.panel-primary
      .panel-heading
        h5.panel-title Panel Title
      .panel-body Panel Body

mixin table(sizeMd, sizeSm, rows)
  div(class="col-md-" + sizeMd + " col-sm-" + sizeSm)
    .panel.panel-secondary
      .panel-heading
        h5.panel-title Stripped Title
      .panel-body
        table.table.table-stripped
          tbody
            each val, name in rows
              tr
                td
                  strong=name
                td=val

block config
    - var pageTitle = 'Dashboard';

block content

  .row
    +col(12, 12)
        
  .row
    +col(6, 12)
    +col(6, 12)
    
  .row
    +table(4, 12, {"a": 1, "b": 2, "c": 3})
    +table(4, 12, {"d": 3, "e": 4, "f": 5})
    // collapse demonstration
    .col-md-4.col-sm-12
      .panel.panel-primary
        .panel-heading
          h5.panel-title Collapse Pannel
          .panel-buttons
            a(data-bs-toggle="collapse" href="#example" role="button" aria-expanded="false" aria-controls="example").btn
              i.bi.bi-caret-down-fill
        .collapse#example
          .panel-body
            p This is some text
  
  // data-table pagination
  - var n = 2
  - var pages = ['25', '50', '75', '100', '200', '500', 'All']
  .row
    .col-12
      nav
        ul.pagination.justify-content-end
          li.page-item
            a(href="#").page-link
              span &laquo;
          while n < 7
            li.page-item
              a(href="#").page-link #{n++}
          li.page-item
            a(href="#").page-link
              span &raquo;
          li  &nbsp;
            .btn-group
              button(type="button").btn.btn-sm.btn-primary Page Size
              button(type="button" data-bs-toggle="dropdown" aria-expanded="false").btn.btn-sm.btn-primary.dropdown-toggle.dropdown-toggle-split
                span.caret
              ul.dropdown-menu
                for page in pages
                  li
                    a(href="?page=" + page, class="dropdown-item")=page
                
  // data-table demonstration
  - var n = 0
  - var fields = ['a', 'b', 'c', 'd']
  .row.justify-content-center
    .col-md-8.col-sm-12
      .panel.panel-primary
        .panel-body
          table.table-responsive
            thead
              tr
                each name in fields
                    th=name
            tbody
              while n < 5
                tr
                  each name in fields
                      td really-long #{n}
                span(style="display: none")=n++
      
        
    
